{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-edit-profile.html">Cars</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row ">
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Enter the details</h1>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p" method="post" action="{% url 'add_car' %}"  enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                            <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                     <label class="gl-label" for="brand">Brand *</label>
                                                                <select class="select-box select-box--primary-style" name="brand" id="brand" data-bill="">
                                                    <option selected value="">Choose the Type</option>
                                                    <option >Maruthi Suzuki</option>
                                                    <option>Hyundayi</option>
                                                    <option >Tata</option>
                                                    <option >Mahindra</option>
                                                    <option>Honda</option>
                                                </select>

                                                            </div>
                                                            <div class="u-s-m-b-30">

                                                                       <label class="gl-label" for="fuel">Fuel *</label>
                                                                <select class="select-box select-box--primary-style" name="fuel" id="fuel" data-bill="">
                                                    <option selected value="">Choose the Type</option>
                                                    <option >CNG & Hybrids</option>
                                                    <option >Diesel</option>
                                                    <option>Electric</option>
                                                    <option>Petrol</option>
                                                    <option>LPG</option>
                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="driven">KM Driven *</label>

                                                                <input class="input-text input-text--primary-style" type="number" id="driven" name="driven" placeholder="KM Driven"></div>
                                                            <div class="u-s-m-b-30">

                                                                            <label class="gl-label" for="own">No of Owners *</label>
                                                                <select class="select-box select-box--primary-style" name="own" id="own" data-bill="">
                                                    <option selected value="">Choose the Type</option>
                                                    <option >1st</option>
                                                    <option >2nd</option>
                                                    <option >3rd</option>
                                                    <option >4th</option>
                                                    <option >4+</option>
                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="gl-inline">

                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="images">Image *</label>

                                                                <input class="input-text input-text--primary-style" type="file" name="images" id="images" placeholder="Image" onblur="fileExtValidate1(images)" onsubmit="fileExtValidate1(images)"  accept="application/jpg" required >
                                                                					<span id="ermsg1" name="ermsg1" style="color:red"> </span>


                                                                <script>


                                                                var validExt = ".jpg,.jpeg,.png";
                                                                function fileExtValidate1(fdata) {
                                                                 var filePath = fdata.value;
                                                                 var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
                                                                 var pos = validExt.indexOf(getFileExt);
                                                                 if(pos < 0) {
                                                                    //alert("This file is not allowed, please upload valid file.");
                                                                                         document.getElementById("ermsg1").innerHTML='*only .jpg,.jpeg,.png images are allowed.' ;
                                                                                          document.getElementById("image").value="";
                                                                    return false;
                                                                  } else {
                                                                         document.getElementById("ermsg1").innerHTML="";
                                                                    return true;
                                                                  }
                                                                }


                                                                var maxSize = '1024';
                                                                function fileSizeValidate1(fdata) {
                                                                     if (fdata.files && fdata.files[0]) {
                                                                                var fsize = fdata.files[0].size/1024;
                                                                                if(fsize > maxSize) {
                                                                                     //alert('Maximum file size exceed, This file size is: ' + fsize + "KB");
                                                                                     document.getElementById("ermsg1").innerHTML='Maximum file size(1 MB) exceed, This file size is: '+ fsize + "KB" ;
                                                                                     document.getElementById("image").value="";
                                                                                     return false;
                                                                                } else {
                                                                                     document.getElementById("ermsg1").innerHTML="";
                                                                                    return true;
                                                                                }
                                                                     }
                                                                 }

                                                                $("#image").change(function () {
                                                                        if(fileExtValidate1(this)) {
                                                                             if(fileSizeValidate1(this)) {
                                                                                showImg(this);
                                                                             }
                                                                        }
                                                                    });


                                                                </script>

                                                            </div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="rent">Rent/Month *</label>

                                                                <input class="input-text input-text--primary-style" type="number" id="rent" name="rent" placeholder="Rent/Month"></div>
                                                        </div>
                                                        <div class="gl-inline">

                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="ad_title">Ad title *</label>

                                                                <input class="input-text input-text--primary-style" type="text" name="ad_title" id="ad_title" placeholder="Key features of your item"></div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="add_info">Additional Information *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="add_info" name="add_info" placeholder="Include conditon,features and reason for selling"></div>
                                                        </div>

                                                        <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>

        {% endblock %}
